body {
	font:14px/1.2em sans-serif,'宋体';
	width:80%;
}

.table {
	width:100%;
	border:thin solid black;
}

.tableRow {
	display:table-row;
}

.tableRow > div {
	display:table-cell;
}

.verticalHeader {
	text-align:right;
}

.bigButton {
	width:100%;
	height:50px;
}